{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["draft", "sketch"] }
    ]
  }
}
